<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="description" content="micro service">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    
  </head>
  <body>
      <nav class="navbar navbar-default navbar-static-top navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#fBasNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="logoSizeImg" src="https://cdn.glitch.com/917293c8-d516-417d-bd21-fb3af181b193%2Fvote.jpg?1514446247147"></a>
            </div>
            <div class="collapse navbar-collapse" id="fBasNavBar">
                <div class="nav navbar-nav navbar-tabs navbar-right ">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home Page</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign-Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

          {{{body}}}

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
