    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <section class="definition">
        <div class="container">
          <form action="/action_page.php">
            <p class="swhite">Please enter poll Name</p>
            <input type="text" id="pollName"name="pollName"><br>
            <p class="swhite">Please enter poll Question</p>
            <input type="text" id="pollQuestion"name="pollQuestion"><br>
             <p class="swhite" id="A0">Please enter poll options</p>
            <button class="btn btn-primary" id="addOption" style="margin-bottom:15px;">Enter poll options</button><br>
            <input type="submit" value="Submit">
          </form>
      </div>
    </section>
    <section class="currentPolls">
        <div class="container">
          <p>Mevcut poller</p>
        </div>
    </section>