    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <section class="currentPolls">
        <div class="container">
          <div class="alert alert-danger" style="display:none"></div>
          <div class="alert alert-success" style="display:none"></div>
          <form>
            <p class="swhite">Please enter poll Name</p>
            <input type="text" id="pollName"name="pollName"><br>
            <p class="swhite">Please enter poll Question</p>
            <input type="text" id="pollQuestion"name="pollQuestion"><br>
             <p class="swhite">Please enter poll options</p>
            <ol type="A" id="options"></ol>
            <button class="b100 btn btn-primary" id="addOption" style="margin-bottom:15px;">Enter poll options</button><br>
            <button class="b100 btn btn-danger" id="deleteOption" style="margin-bottom:15px;">Delete last poll option</button><br>
            <input type="number" id="optionCount"name="optionCount" style="display:none" value="0"><br>
            <input class="btn btn-warning" type="submit" id="submitPoll" value="Submit">
          </form>
      </div>
    </section>
    <section class="definition">
        <div class="container">
          <div id="dashjumbotron"class="jumbotron">
            <h1>Active Polls</h1>
          </div>     
        </div>
    </section>

<div class="modal fade" id="pollResult" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <canvas id="pollChart" width="400" height="400"></canvas>
      </div>
      <div class="modal-footer">
        <ol type="A" id="optioninresult"></ol>

      </div>
    </div>
  </div>
</div>