    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <section class="currentPolls">
        <div class="container">
           {{#if hatalar}}
             <div class="alert alert-danger">
               <p>Please Correct Below Errors</p>
               <ul>
              {{#each hatalar}}
                 <li>{{msg}}</li>
              {{/each}}
               </ul>
               </div>
          {{/if}}
          <form action="/cpoll" method="post">
            <p class="swhite">Please enter poll Name</p>
            <input type="text" id="pollName"name="pollName"><br>
            <p class="swhite">Please enter poll Question</p>
            <input type="text" id="pollQuestion"name="pollQuestion"><br>
             <p class="swhite">Please enter poll options</p>
            <ol type="A" id="options"></ol>
            <button class="b100 btn btn-primary" id="addOption" style="margin-bottom:15px;">Enter poll options</button><br>
            <button class="b100 btn btn-danger" id="deleteOption" style="margin-bottom:15px;">Delete last poll option</button><br>
            <input class="btn btn-warning" type="submit" value="Submit">
          </form>
      </div>
    </section>
    <section class="definition">
        <div class="container">
          <p>Mevcut poller</p>
        </div>
    </section>