    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <section class="definition">
        <div class="container">
          <form action="/action_page.php">
            <p class="swhite">Please enter poll Name</p>
            <input type="text" id="pollName"name="pollName"><br>
            <p class="swhite">Please enter poll Question</p>
            <input type="text" id="pollQuestion"name="pollQuestion"><br>
            <p class="swhite">Please enter poll options</p>
            
            
            <div class="input-group">
              <span class="input-group-addon"><i>A</i></span>
              <input type="text" name="option1" id="option1">
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i>A</i></span>
              <input type="text" name="option2" id="option2">
            </div>
            
            <input type="submit" value="Submit">
          </form>
      </div>
    </section>
    <section class="currentPolls">
        <div class="container">
          <p>Mevcut poller</p>
        </div>
    </section>