    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <section class="definition">
        <div class="container">
          <form action="/action_page.php">
            <label for="pollName">Poll Name</label>
            <input type="text" id="pollName"name="pollName"><br>
            <label for="option1">Option 1</label>
            <input type="radio" name="options" id="option1">asdasdasdasdasds<br>
            <label for="option1">Option 2</label>
            <input type="radio" name="options" id="option2"><br>
            
            <input type="submit" value="Submit">
          </form>
      </div>
    </section>
    <section class="currentPolls">
        <div class="container">
          <p>Mevcut poller</p>
        </div>
    </section>