    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <section class="definition">
        <div class="container">
          <p>Create Poll</p>
    </section>
    <section class="currentPolls">
        <div class="container">
          <p>Mevcut poller</p>
        </div>
    </section>