    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <section class="mainHeader">
        <div class="container">
        </div>
    </section>
    <section class="definition">
        <div class="container">
          <p class="long">Log in and create your own poll</p>
          <span class="fa-stack fa-4x">
            <i class="fa fa-square-o fa-stack-2x fontawsomeouter"></i>
            <i class="fa fa-check-square-o fa-stack-1x fontawsomeinner"></i>
          </span>
          <br>
          <p class="long">Share your poll with public</p>
          <span class="fa-stack fa-4x">
            <i class="fa fa-square-o fa-stack-2x fontawsomeouter"></i>
            <i class="fa fa-share-square-o fa-stack-1x fontawsomeinner"></i>
          </span>
          <br>
          <p class="long">Get poll result instantly</p>
          <span class="fa-stack fa-4x">
            <i class="fa fa-square-o fa-stack-2x fontawsomeouter"></i>
            <i class="fa fa-rocket fa-stack-1x fontawsomeinner"></i>
          </span>
        </div>
    </section>
    <section class="currentPolls">
        <div class="container">
          <div id="indexjumbotron"class="jumbotron">
            <h1>Active Polls</h1>
          </div>   
        </div>
    </section>

