<div class="container">
  <h5>
  {{pollName}}
  </h5> 
  <h4>
     {{pollQuestion}}
  </h4>
  <ol type="A">
  {{#each pollItems}}
    <li>{{optionVal}}  vote:<span>{{optionCount}}</span></li>
   {{/each}}
  </ol>
</div>


    <div class="panel panel-primary">
      <div class="panel-heading">Panel with panel-primary class</div>
      <div class="panel-body">Panel Content</div>
    </div>