body{
  background-color:rgb(201, 234, 229);
}
.navbar{
  margin-bottom:0 !important;
}
.navbar-brand{
padding:0 !important;
}
.logoSizeImg{
width:83px;
}
.mainHeader{
  background-image: url('https://cdn.glitch.com/917293c8-d516-417d-bd21-fb3af181b193%2FYVM-X-website-link-image.png?1514445243264');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-height:800px;
}
.definition{
  padding:30px 10px;
  background-color:rgb(42, 74, 74);
  text-align: center;
  min-height:400px;
}
.definition .long{
  color:white;
  font-size:30px;
  display:inline-block;
  margin-bottom:50px;
}
.currentPolls{
  padding:30px 10px;
  background-color:rgb(201, 234, 229);
  text-align: left;
  min-height:400px;
}
.fontawsomeouter{
color:rgb(201, 234, 229);
}

.fontawsomeinner{
color:rgb(201, 234, 229);
}


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.b100 {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

.swhite{
font-size:20px;
color:black;
  font-weight:bold;
  margin:0;
}

#deleteOption{
display:none;
}
a:hover{
text-decoration:none;
}